# Default ignored files
/../../../:LibraryManagement/.idea/shelf/
/../../../:LibraryManagement/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../:LibraryManagement/.idea/mavenHomeManager.xml
